@font-face {
  font-family: "iconfont"; /* Project id 5097794 */
  src: url('iconfont.woff2?t=1766653984208') format('woff2'),
       url('iconfont.woff?t=1766653984208') format('woff'),
       url('iconfont.ttf?t=1766653984208') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-31siliaozhongzi:before {
  content: "\e631";
}

.icon-a-41jiaoyuyule:before {
  content: "\e89b";
}

.icon-a-42wangzhanfuwu:before {
  content: "\e600";
}

.icon-a-01huaxueyuanliao:before {
  content: "\e8b6";
}

.icon-a-02yanliaoyouqi:before {
  content: "\e8b7";
}

.icon-a-05yiyao:before {
  content: "\e8b8";
}

.icon-a-06jinshucailiao:before {
  content: "\e8b9";
}

.icon-a-04ranliaoyouzhi:before {
  content: "\e8ba";
}

.icon-a-03rihuayongpin:before {
  content: "\e8bb";
}

.icon-a-08shougongqixie:before {
  content: "\e8bc";
}

.icon-a-11dengjukongtiao:before {
  content: "\e8bd";
}

.icon-a-07jixieshebei:before {
  content: "\e8be";
}

.icon-a-10yiliaoqixie:before {
  content: "\e8bf";
}

.icon-a-14zhubaozhongbiao:before {
  content: "\e8c0";
}

.icon-a-13junhuoyanhuo:before {
  content: "\e8c1";
}

.icon-a-09kexueyiqi:before {
  content: "\e8c2";
}

.icon-a-18pigepiju:before {
  content: "\e8c3";
}

.icon-a-12yunshugongju:before {
  content: "\e8c4";
}

.icon-a-17xiangjiaozhipin:before {
  content: "\e8c5";
}

.icon-a-15leqi:before {
  content: "\e8c6";
}

.icon-a-16bangongyongpin:before {
  content: "\e8c7";
}

.icon-a-20jiaju:before {
  content: "\e8c8";
}

.icon-a-19jianzhucailiao:before {
  content: "\e8c9";
}

.icon-a-24buliaochuangdan:before {
  content: "\e8ca";
}

.icon-a-22shengwangdaipeng:before {
  content: "\e8cb";
}

.icon-a-26niukoulalian:before {
  content: "\e8cc";
}

.icon-a-21chufangjieju:before {
  content: "\e8cd";
}

.icon-a-25fuzhuangxiemao:before {
  content: "\e8ce";
}

.icon-a-23shaxiansi:before {
  content: "\e8cf";
}

.icon-a-28jianshenqicai:before {
  content: "\e8d0";
}

.icon-a-27ditanxidian:before {
  content: "\e8d1";
}

.icon-a-40cailiaojiagong:before {
  content: "\e8d2";
}

.icon-a-37jianzhuxiuli:before {
  content: "\e8d3";
}

.icon-a-33jiulei:before {
  content: "\e8d4";
}

.icon-a-34yancaoyanju:before {
  content: "\e8d5";
}

.icon-a-32pijiuyinliao:before {
  content: "\e8d6";
}

.icon-a-30fangbianshipin:before {
  content: "\e8d7";
}

.icon-a-43canyinzhusu:before {
  content: "\e8d8";
}

.icon-a-38tongxunfuwu:before {
  content: "\e8d9";
}

.icon-a-39yunshuzhucang:before {
  content: "\e8da";
}

.icon-a-29shipin:before {
  content: "\e8db";
}

.icon-a-36jinrongwuguan:before {
  content: "\e8dc";
}

.icon-a-35guanggaoxiaoshou:before {
  content: "\e8dd";
}

.icon-a-44yiliaoyuanyi:before {
  content: "\e8de";
}

.icon-a-45shehuifuwu:before {
  content: "\e8df";
}

